<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:c="http://www.springframework.org/schema/c"
	xsi:schemaLocation="http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
	default-autowire="byName"><!-- 按照属性默认装配 ，如果容器中bean的id与一个bean的属性一样，那个bean就不用写ref属性 -->

	<bean id="productNameObserver" class="com.apattern.observer.ProductNameObserver" />
	<bean id="subjectTarget" class="com.apattern.observer.Product" />

	<!-- 在其他类中注入subject就可以用了，参考http://www.iteye.com/topic/102068 -->
	<bean id="subject" 　
		class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
		<property name="targetObject">
			<ref local="subjectTarget" />
		</property>
		<property name="targetMethod">
			<value>addObserver</value>
		</property>
		<property name="arguments">
			<list>
				<ref bean="productNameObserver" />
			</list>
		</property>
	</bean>

</beans>
